.loading-wrap {
  display: flex;
  justify-content: center;
  height: 44px;
  align-items: center;
  & > .loading-background {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 18%);
    border: 1px solid #e1e4ea;
    & > .loading-v2 {
      width: 32px;
      height: 32px;
      position: relative;
      border-radius: 50%;
      background: transparent;
      animation: loadingAnim 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
      border: 1px solid transparent;
      border-top: 1px solid #0068ff;
      box-sizing: border-box;
      rotate: -45deg;
    }
  }
}

@keyframes loadingAnim {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
