.seach__entry_input {
  position: relative;
  & > img {
    position: absolute;
    top: calc(50% - 12px);
    left: 12px;
    color: var(--neutral-500);
  }
  & > input {
    height: 30px;
    line-height: 30px;
    background-color: var(--grey-400);
    border: 1px solid var(--grey-400);
    font-size: 15px;
    border-radius: 16px;
    width: calc(100% - 72px);
    padding: 0 36px !important;
  }

  input:focus {
    border: 1px solid var(--blue-500);
    cursor: text;
  }
}
